@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html {
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  background-color: #f1f1f1;
}

a {
  color: #9c9c9c;
}

.accordion-body {
  background-color: rgba(235, 235, 235, 0.4);
  .collapse-item {
    margin: 5px 1.5rem;
  }
}

.grid {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 24px;
  grid-template-areas:
    'carousel carousel items'
    'cells cells items'
    'cells cells todo';
}
.div1 {
  grid-area: carousel;
  margin-top: 24px;
}
.div2 {
  grid-area: items;
}
.div3 {
  grid-area: cells;
}
.div4 {
  grid-area: todo;
}
