.topbar {
  height: 60px;

  .sidebar-brand {
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 2;
  }

  .fa-snowflake {
    color: #c033d3;
  }
  .sidebar-brand-icon {
    margin: 0 30px;
    padding-right: 42px;
  }

  .navbar-search {
    width: 26rem;
    input {
      font-size: 0.85rem;
      height: auto;
    }
  }

  .nav-link {
    h6 {
      font-size: 12px;
      color: #333;
    }
    p {
      font-size: 11px;
      opacity: 0.6;
      margin: 0;
    }

    img {
      height: 40px;
      padding: 0 16px;
    }
  }
}
