.topbar {
  height: 4rem;

  .fa-snowflake {
    color: #c033d3;
  }
  .sidebar-brand-icon {
    margin: 0 30px;
    padding-right: 42px;
  }

  .navbar-search {
    width: 26rem;
    input {
      font-size: 0.85rem;
      height: auto;
    }
  }

  .nav-link {
    h6 {
      font-size: 12px;
      color: #333;
    }
    p {
      font-size: 11px;
      opacity: 0.6;
    }

    img {
      height: 40px;
    }
  }
  .profile {
    .text {
      margin: 18px 0 0 18px;
    }
  }
}
