.sidebar {
  width: 250px;
  min-height: 100vh;
  padding: 20px;
  margin: 24px;
  color: #9c9c9c;
  font-size: 14px;

  .accordion-body {
    display: flex;
    flex-direction: column;
  }

  .fa-snowflake {
    color: #c033d3;
  }
  .sidebar-brand-text {
    color: #333;
    font-weight: bold;
  }

  .nav-link {
    display: flex;
    align-items: center;

    .fa-chevron-right {
      margin-left: auto;
    }
    .fa-chevron-down {
      margin-left: auto;
    }
  }
}
