@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
html {
  font-size: 100%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  background-color: #f1f1f1;
}

a {
  color: #9c9c9c;
}

.accordion-body {
  background-color: rgba(235, 235, 235, 0.4);
}

.accordion-body .collapse-item {
  margin: 5px 1.5rem;
}

.grid {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  gap: 24px;
      grid-template-areas: 'carousel  carousel items' 'cells cells items' 'cells cells todo';
}

.div1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: carousel;
  margin-top: 24px;
}

.div2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: items;
}

.div3 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: cells;
}

.div4 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: todo;
}

.sidebar {
  color: #9c9c9c;
  font-size: 14px;
  background-color: #fff;
  padding: 0;
  display: inline-block;
  width: 274px;
}

.sidebar .accordion-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sidebar .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar .nav-link .fa-chevron-right {
  margin-left: auto;
  font-size: 10px;
}

.sidebar .nav-link .fa-chevron-down {
  margin-left: auto;
  font-size: 10px;
}

.topbar {
  height: 60px;
}

.topbar .sidebar-brand {
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.topbar .fa-snowflake {
  color: #c033d3;
}

.topbar .sidebar-brand-icon {
  margin: 0 30px;
  padding-right: 42px;
}

.topbar .navbar-search {
  width: 26rem;
}

.topbar .navbar-search input {
  font-size: 0.85rem;
  height: auto;
}

.topbar .nav-link h6 {
  font-size: 12px;
  color: #333;
}

.topbar .nav-link p {
  font-size: 11px;
  opacity: 0.6;
  margin: 0;
}

.topbar .nav-link img {
  height: 40px;
  padding: 0 16px;
}

.welcome {
  width: 100%;
  padding: 30px 16px 0 31px;
}

.welcome .welcome-content {
  height: 10.688rem;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, color-stop(16%, #ffbf9c), color-stop(41%, #c96aa2), color-stop(68%, #d651cd), color-stop(83%, #8c5eea), to(#8f22e3));
  background: linear-gradient(90deg, #ffbf9c 16%, #c96aa2 41%, #d651cd 68%, #8c5eea 83%, #8f22e3 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.welcome .welcome-content .welcome-img {
  height: 100px;
}

.welcome .welcome-content .welcome-box {
  width: 150px;
  height: 90px;
  background-color: #3333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.welcome .welcome-content .welcome-box .pills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.welcome .welcome-content .welcome-box .pills .lead {
  font-weight: bold;
}

.welcome .carousel-section {
  max-width: 717px;
}

.welcome .carousel-section .carousel-item {
  height: 310px;
}

.welcome .my-items {
  color: #9c9c9c;
  background-color: #fff;
  padding: 0;
}

.welcome .my-items .item-heading h5 {
  color: #333;
  font-weight: bold;
}

.welcome .my-items .item-heading i {
  font-size: smaller;
  background: cornflowerblue;
  border-radius: 50%;
  padding: 2px;
  color: #fff;
}

.welcome .items-profile .items-content img {
  height: 45px;
}

.welcome .items-profile .items-content h6 {
  color: #333;
  font-size: 0.875rem;
}

.welcome .items-profile .items-content p {
  font-size: 0.75rem;
  opacity: 0.9;
}

.welcome .items-profile .progress {
  color: #e08318;
  height: 40px;
  width: 75px;
  background: #e4c5a3;
  opacity: 0.6;
}

.welcome .items-profile .progress span {
  font-weight: bold;
}

.welcome .items-profile .progress-g {
  padding: 6px;
  color: #8dec8d;
  height: 35px;
  width: 67px;
  background: #cdf5d3;
  opacity: 0.6;
}

.welcome .items-profile .progress-g span {
  font-weight: bold;
}

.welcome .card-section {
  color: #333;
}

.welcome .card-section .card::before {
  content: '\2661';
  position: absolute;
  width: 30px;
  top: 0px;
  right: 0px;
  font-size: 25px;
  color: #9c9c9c;
}

.welcome .card-section .card {
  height: 250px;
  text-align: center;
  margin-bottom: 1rem;
  position: relative;
}

.welcome .card-section .card i {
  float: right;
}

.welcome .card-section .card img {
  height: 80px;
  margin-top: 30px;
}

.welcome .card-section .card h5 {
  font-size: 14px;
  font-weight: 100;
}

.welcome .card-section .card p {
  font-size: 0.75rem;
  opacity: 0.9;
}

.welcome .card-section .card .card-footer:hover {
  background: #007bff;
  color: #fff;
}

.welcome .to-do {
  background: #fff;
  color: #333;
}

.welcome .to-do i {
  background: cornflowerblue;
  border-radius: 50%;
  padding: 2px;
  color: #fff;
}

.welcome .to-do .to-do-item i {
  background: #cdf5d3;
  border-radius: 50%;
  color: #72e272;
}

.welcome .to-do .to-do-item h4 {
  font-weight: bold;
  color: #333;
}

.welcome .to-do .to-do-item span {
  color: #9c9c9c;
  opacity: 0.9;
}
/*# sourceMappingURL=style.css.map */